/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
  height: 100%;
  width: 100%;
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
  background: #dad3f8;
}

::selection{
  background: #6d50e2;
  color: #fff;
  
}

#loadingMessage {
	position: absolute;
	top:0;
	left: 0;
	z-Index: 100;
	background-color: #6d50e2;
	color: white;
	opacity: 0.8;
	width:100%;
	height: 100%;
	text-align: center;
	font-size: 24px;
	padding-top: 15%;
}

.loader {
  border: 16px solid #6d50e2;
  border-top: 16px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  width: 80px;
  height: 80px;
  margin-left:47%;
  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
	 
	 
.container{
  width: 100%;
  padding: 40px 50px  40px  40px;
  background: #fff;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .topic{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.container .content{
  display: flex;
  width:100%;
  float: right;
  justify-content: left;
  padding-left: 50px;
  transition: all 0.5s ease;
  background: transparent;
}
.container .menu{
	width:20%;
	display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 2;
}

.container .menu .list{
  display: flex;
  /*left: -250px;*/
  flex-direction: column;
  width: 100%;
  /*margin-right: 50px;*/
  margin-top: 40px;
  position: relative;
  transition: all .5s ease;
  background: transparent;
  border-radius: 12px;
  height: 200px;
}

.menu .list label{
  height: 60px;
  width: 260px;
  /*background: red;*/
  border-radius: 12px;
  margin: 5px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  padding-left: 15px;
  padding-top: 15px;
  transition: all 0.5s ease;
  color: #333;
  z-index: 12;
}
.menu .slider{
  position: absolute;
  top: 0;
  width: 265px;
  height: 60px;
  border-radius: 12px;
  background: #6d50e2;
  transition: all 0.4s ease;
}

#map:checked ~ .list label.map,
#elanalysis:checked ~ .list label.elanalysis,
#cChecking:checked ~ .list label.cChecking{
  color: #fff;
}
.menu .list label:hover{
  color: #6d50e2;
}

#map:checked ~ .list .slider{
  top: 0;
}
#elanalysis:checked ~ .list .slider{
  top: 68px;
}
#cChecking:checked ~ .list .slider{
  top: 135px;
}

.content .text-content{
  width: 100%;
  height: 100%;
  margin-top: -10px;
}
.content .text{
  display: none;
}
.content .text-content .title{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}
.content .text p{
  text-align: justify;
}
.content .text-content .map{
  display: block;
  
}
/*
#map:checked ~ .container .content .text-content .map,
#elanalysis:checked ~ .container .content .text-content .elanalysis,
#cChecking:checked ~ .container .content .text-content .cChecking{
  display: block;

}
#elanalysis:checked ~ .container .content .text-content .map,
#cChecking:checked ~ .container .content .text-content .map{
  display: none;
}
*/

.menu input[type=radio]{
  display: none;
}

#check{
	display: none;
}

#check_tabs{
	display: none;
}
#check_filter{
	display: none;
}

label #btn{
	position: absolute;
	cursor: pointer;
	background: white;
	border-radius: 3px;
	z-index: 3;
	left: 40px;
	top: 25px;
	font-size: 35px;
	color: #6d50e2;
	padding: 6px 12px;
}

label #btn_tabs{
	position: absolute;
	cursor: pointer;
	background: white;
	border-radius: 3px;
	z-index: 3;
	right: 40px;
	top: 25px;
	font-size: 35px;
	color: #6d50e2;
	padding: 6px 12px;
}

label #btn_filter{
	position: absolute;
	cursor: pointer;
	background: white;
	border-radius: 3px;
	z-index: 15;
	right: 40px;
	top: 25px;
	font-size: 35px;
	color: #6d50e2;
	padding: 12px;
}

#iebtn{
	position: fixed;
	right: 40px; 
	bottom: 30px;
	cursor: pointer;
	background: white;
	border-radius: 3px;
	z-index: 3;
	font-size: 35px;
	color: #6d50e2;
	padding: 6px 12px;
}
#importExport{
	display: none;
}
/*
#check:checked ~ .container .content .list{
	left: 0px;
}
#check:checked ~ .container .content{
	margin-left: 0;
	/*max-width: 900px;
}
*/

.fa-trash-can {
	background: #7a4791;
	border-radius: 12px;
	padding: 15px;
	color: white;
	z-index: 20;
	font-size: 25px;
	margin-right: 5px;
	margin-left: 30px;
	float: right;
	max-height: 60px;
}



#check_tabs:checked ~ .mapContainer .mytabs {
	display: flex;
}

#check_filter:checked ~ .mytabs {
	display: flex;
}

.mytabs{
	position:fixed;
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	top: 10px;
	padding: 25px;
	background: #6d50e2;
	border-radius: 12px;
	left: 1050px;
	z-index: 2;
	width: 30%;
}
.mytabs input[type="radio"] {
	display: none;
}
.mytabs label{
	padding: 20px;
	font-weight: 500;
	background-color: #6d50e2;
	color: white;	
	border-radius: 12px 12px 0px 0px;
	cursor: pointer;
}
.mytabs .tab{
	width: 95%;
	padding: 20px;
	background-color: #dad3f8;
	order: 1;
	display: none;
}
.mytabs input[type="radio"]:checked + label + .tab{
	display: block;
}
.mytabs input[type="radio"]:checked + label {
	background: #dad3f8;
	color: black;
}

input#tabFilter:checked + label + .tab{
	display: block;
}
input#tabFilter:checked + label {
	background: #dad3f8;
	color: black;
}

.btn-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  /*grid-auto-rows: minmax(100px, auto);*/
	
  /*display: flex;*/
  justify-content: center;
  flex-direction: column;
  color: black; /* White text */
  padding: 12px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  white-space: normal;
  font-size: 14;
}

.map-content{
	/*position: relative;*/
	display: flex;
	float: left;
	width: 100%;
	margin-right: 5px;
	background: transparent;
	overflow: auto;
	unselected: on;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.mapContainer{
	position: relative;
z-index: 0;
width: 100%;
}
.slidecontainer {
  width: 30%;
  z-index: 4;
}

.sliderZoom {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #dad3f8;
  outline: none;
  /*opacity: 0.7;*/
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderZoom:hover {
  opacity: 1;
}

.sliderZoom::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #6d50e2;
  cursor: pointer;
}

.sliderZoom::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #6d50e2;
  cursor: pointer;
}

.sliderPA {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #cfa8d5;
  outline: none;
  /*opacity: 0.7;*/
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderPA:hover {
  opacity: 1;
}

.sliderPA::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #7a4791;
  cursor: pointer;
}

.sliderPA::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #7a4791;
  cursor: pointer;
}

/* Dropdown Button */
.dropdown {
  background-color: #cfa8d5;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}

/* Dropdown button on hover & focus */
.dropdown:hover /*, #freqDropdown:focus*/ {
  background-color: #7a4791;
}

.row{
	background-color: #dad3f8;
	margin-top: 25px;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left, .middle {
  width: 15%;
}

.right {
  width: 70%;
  overflow: auto;
  padding-right: 10px;
  white-space: nowrap;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

tr:nth-child(even) {
  background-color: #cfa8d5;
  
}

/*
th:nth-child(even),td:nth-child(even) {
  background-color: #7a4791;
  color: #fff;
}
*/
tr {
	border: 1px solid #fff;
}
td {
	border: 1px solid #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #fff;
  justify-content: center;
}

li {
	
	border: 1px solid #fff;
}

#graphContainer {
    transform-origin: 0% 0%;
	width: 100%;
}

.bottomleft {
  position:fixed;	
  bottom: 30px;
  background-color: white;
  border-radius: 12px;
  width: 20%;
}

button{
  background-color: #cfa8d5;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: 5px;
  width: 265px;
}

.bottomleft input[type=submit]{
  background-color: #cfa8d5;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: 5px;
}

.tab input[type=submit]{
	background-color: #cfa8d5;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  float: right;
}

/* The actual popup (appears on top) */
.popuptext {
  visibility: hidden;
  /*Preso da popup*/
  display: inline-block;
  /**/
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  /*z-index: 1;
  bottom: 125%;
  left: 50%;*/
  margin-left: -80px;
}

/* Popup arrow */
.popuptext::after {
  content: "";
  position: relative;
  top: 35px;
  left: -110px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.mapContainer .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  left: 40%;
  top: 10%;
  /*transform: translate(-50%, -50%);*/
  border: 3px solid #cfa8d5;
  z-index: 15;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: #dad3f8;
}

.blocker {
    position: fixed;
	display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
	z-index: 15;
}



.checkboxgroup {
    overflow: auto;
	background: #cfa8d5;
	border: 1px solid #7a4791
	max-height: 50%;
}

.checkboxgroup label{
	cursor: pointer;
	text-align: left;
    clear: both;
    float:left;
	width: 100%;
	border-bottom: 1px solid #fff;
	color: #fff;
}

.checkboxgroup label:hover{
	background: #7a4791;
}

svg {
  overflow: hidden;
  overlap: false;
  font-size: 10;
  shape: rect;
  background-color: transparent;
}
.node rect {
  stroke: #333;
  stroke-width: 1.5px;
  fill: #fff;
}
.edgeLabel rect {
  fill: #fff;
}
.edgePath {
  stroke: #333;
  stroke-width: 1.5px;
  fill: none;
}