sensor Request Restore access to_database Query Trasformation Data_Merge Visualization Report_Generated Restore_access to_database Launch_Algorithm Store_Results Model_Generated Install_supplementary_resources
data storage/testuser/jotNoppErrorShortShort/SEG/jotNoppErrorShortShort_UILOG
model model
numiterations -1
